body {
    margin: 0;
    font-family: Arial, Helvetica;
}

.noscript {
    margin: 30px;
    padding: 10px;
    text-align: center;
}

#input_container {
    display: none;
    height: 100%;
    margin: 5px;
    background-color: #DDF;
    border: 1px solid #33A;
    border-bottom: none;
    color: #111;
    text-align: left;
}

.dragover {
    box-shadow: inset 0 0 10px #33A;
}

h1 {
    font-size: 1.5em;
    margin: 0.5em;
    margin-bottom: 1em;
}

.input_section {
    padding: 10px;
    border-bottom: 1px solid #33A;
}

ul {
    list-style: none;
}

#input_wrapper {
    display: inline-block;
    position: relative;
    margin: 0 2.5em;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 2px black;
    overflow: hidden;
}

#input_wrapper:active {
    box-shadow: inset 0 0 1px 1px black;
}

#input_wrapper input {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    font-size: 100em;
    cursor: pointer;
}

#input_button {
    display: inline-block;
    padding: 4px 18px;
    font-weight: bold;
}

.hint {
    font-size: 0.9em;
}

#files_required p {
    float: left;
    margin-left: 3em;
    font-weight: bold;
}

#files_required ul {
    float: left;
    margin-bottom: 2em;
    padding-left: 1em;
}

.file_list li {
    display: none;
}

.check {
    display: none;
    color: green;
    font-weight: bold;
}

.clear {
    clear: both;
}

.processor {
    display: none;
}

.menu {
    height: 1.7em;
    background-image: -moz-linear-gradient(top, #AAF, #33F);
    background-image: -webkit-linear-gradient(top, #AAF, #33F);
    background-image: -ie-linear-gradient(top, #AAF, #33F);
    background-image: -o-linear-gradient(top, #AAF, #33F);
    line-height: 1.5em;
}

.button {
    position: relative;
    float: left;
    height: inherit;
    padding: 0 1em;
    color: white;
    font-size: 0.75em;
    font-weight: bold;
}

.button:hover {
    background-image: -moz-linear-gradient(top, #CCF, #55F);
    background-image: -webkit-linear-gradient(top, #CCF, #55F);
    background-image: -ie-linear-gradient(top, #CCF, #55F);
    background-image: -o-linear-gradient(top, #CCF, #55F);
    cursor: default;
}

.list {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50em; /* Needs to be any value larger than width of menu items*/
    cursor: pointer;
}

.list ul {
    position: absolute;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 5px #888;
     line-height: normal;
}

.list li {
    height: 1.2em;
    padding: 0.45em 1.5em;
    background-color: #88F;
    border-top: 1px solid #AAF;
    border-bottom: 1px solid #66F;
}

.list li:hover {
    background-image: -moz-linear-gradient(left, #CCF, #88F 15%);
    background-image: -webkit-linear-gradient(left, #CCF, #88F 15%);
    background-image: -ie-linear-gradient(left, #CCF, #88F 15%);
    background-image: -o-linear-gradient(left, #CCF, #88F 15%);
}

.list li:active {
    background-image: -moz-linear-gradient(left, #FFF, #88F 15%);
    background-image: -webkit-linear-gradient(left, #FFF, #88F 15%);
    background-image: -ie-linear-gradient(left, #FFF, #88F 15%);
    background-image: -o-linear-gradient(left, #FFF, #88F 15%);
}

#plot {
    clear: both;
    background-color: white;
}
