body {
    margin: 0;
    background-color: #CCC;
    background-image: -moz-linear-gradient(top, #888, #CCC);
    background-image: -webkit-linear-gradient(top, #888, #CCC);
    background-image: -ie-linear-gradient(top, #888, #CCC);
    background-image: -o-linear-gradient(top, #888, #CCC);
    background-repeat: repeat-x;
    font-family: Arial, Helvetica;
}

p.noscript {
    margin: 30px;
    padding: 10px;
    background-image: none;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

div#input_container {
    display: none;
    width: 960px;
    margin: 0 auto;
}

div.input {
    float: left;
    height: 250px;
    width: 350px;
    margin: 30px;
    padding: 25px;
    background-color: #99C;
    background-image: -moz-linear-gradient(bottom left, #77A, #BBD);
    background-image: -webkit-linear-gradient(bottom left, #77A, #BBD);
    background-image: -ie-linear-gradient(bottom left, #77A, #BBD);
    background-image: -o-linear-gradient(bottom left, #77A, #BBD);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    text-align: center;
    font-size: 16px;
}

p.hint {
    font-size: 12px;
}

p#or {
    float: left;
    margin: 160px 0;
    font-size: 24px;
    font-weight: bold;
}

div.processor {
    display: none;
}

div.menu {
    height: 1.7em;
    background-image: -moz-linear-gradient(top, #AAF, #33F);
    background-image: -webkit-linear-gradient(top, #AAF, #33F);
    background-image: -ie-linear-gradient(top, #AAF, #33F);
    background-image: -o-linear-gradient(top, #AAF, #33F);
    line-height: 1.5em;
}

div.button {
    position: relative;
    float: left;
    height: inherit;
    padding: 0 1em;
    color: white;
    font-size: 0.75em;
    font-weight: bold;
}

div.button:hover {
    background-image: -moz-linear-gradient(top, #CCF, #55F);
    background-image: -webkit-linear-gradient(top, #CCF, #55F);
    background-image: -ie-linear-gradient(top, #CCF, #55F);
    background-image: -o-linear-gradient(top, #CCF, #55F);
    cursor: default;
}

div.list {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50em; /* Needs to be any value larger than width of menu items*/
    cursor: pointer;
}

ul {
    position: absolute;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 5px #888;
    list-style-type: none;
    line-height: normal;
}

li {
    height: 1.2em;
    padding: 0.45em 1.5em;
    background-color: #88F;
    border-top: 1px solid #AAF;
    border-bottom: 1px solid #66F;
}

li:hover {
    background-image: -moz-linear-gradient(left, #CCF, #88F 15%);
    background-image: -webkit-linear-gradient(left, #CCF, #88F 15%);
    background-image: -ie-linear-gradient(left, #CCF, #88F 15%);
    background-image: -o-linear-gradient(left, #CCF, #88F 15%);
}

li:active {
    background-image: -moz-linear-gradient(left, #FFF, #88F 15%);
    background-image: -webkit-linear-gradient(left, #FFF, #88F 15%);
    background-image: -ie-linear-gradient(left, #FFF, #88F 15%);
    background-image: -o-linear-gradient(left, #FFF, #88F 15%);
}

div#plot {
    clear: both;
    background-color: white;
}