body {
    margin: 0;
    font-family: Helvetica, Arial;
    width: 600px;
}

div.menu {
    height: 1.7em;
    background-image: -moz-linear-gradient(top, #AAF, #33F);
    background-image: -webkit-linear-gradient(top, #AAF, #33F);
    background-image: -ie-linear-gradient(top, #AAF, #33F);
    background-image: -o-linear-gradient(top, #AAF, #33F);
}

div.button {
    position: relative;
    float: left;
    height: 1.3em;
    padding: 0.45em 1em;
    vertical-align: middle;
    font-size: 0.75em;
    font-weight: bold;
    color: #EEE;
}

div.button:hover {
    margin: 0 -1px;
    color: white;
    border-left: 1px solid #66F;
    border-right: 1px solid #66F;
    background-image: -moz-linear-gradient(top, #AAF, #33F);
    cursor: pointer;
}

div.list {
    position: absolute;
    top: 2.25em;
    left: 0;
    width: 100em;
}

ul {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    border: 1px solid #AAF;
    border-top: none;
    box-shadow: 0px 1px 5px #888;
    list-style-type: none;
}

li {
    height: 1.2em;
    padding: 0.45em 1.5em;
    background-color: #88F;
    border-top: 1px solid #AAF;
    border-bottom: 1px solid #66F;
}

div.button:hover ul{
    display: block;
}

li:hover {
    background-color: #66F;
    border-top: 1px solid #66F;
}

div.plot {
    clear: both;
}